* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.herosection {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url("../assets/bg-image.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.herosection::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93, 84, 240, .5);
    background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
}

.box {
    padding: 25px 50px 20px 50px;
    background-color: #fff;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 1px 10px -2px #c2b1b1;
}
.box:hover{
    transform: scale(1.008);
    transition: all ease .5s;
}

form div h2 {
    margin: 30px;
}

form :nth-child(2) input {
    padding: 9px;
    border-radius: 9px;
    margin-bottom: 13px;
    border: none;
    box-shadow: 1px 1px 6px -3px #d080dd;
}

form :nth-child(2) input:focus{
    border: none;
    outline-color: #a336b5;
}

form :nth-child(3) input {
    padding: 8px;
    border-radius: 25px;
    width: 100px;
    margin-top: 9px;
    margin-bottom: 40px;
    border: none;
    color: white;
    background-color: #a336b5;
    box-shadow: 1px 1px 9px -2px #d080dd;
    cursor: pointer;
}

form :nth-child(3) input:hover {
    transform: scale(1.03);
    transition: all ease .5s;
}

.box .logo img {
    height: 38px;
    width: 38px;
    margin: 20px 0px;
    cursor: pointer;
}

.box a {
    margin-top: 35px;
    text-decoration: none;
    color: rgb(63, 57, 57);
}
.box a:hover{
    color: #a14d81;
}